@import url(reset.scss);
/*主导航字体大小*/
$navFontSize: 16px;
/*侧边栏字体大小*/
$sidebarNavFontSize: 15px;
/*侧边栏宽度*/
$sidebarWidth: 230px;
/*侧边栏li>a 的高度 */
$sidebarHeight:60px;

body {
  padding: 0;
  margin: 0;
  background-color: #eee;
  // font-family: "Microsoft Yahei";
  font-family: 'Microsoft Yahei', 微软雅黑, "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  // font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
  // font-size: 14px;
  height: 100%;
  a {
    text-decoration: none;
  }
}
///*滚动条样式*/
//::-webkit-scrollbar {
//  width: 10px;
//}
///* 滚动槽 */
//::-webkit-scrollbar-track {
//  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//  border-radius: 10px;}
///* 滚动条滑块 */
//::-webkit-scrollbar-thumb {
//  border-radius: 5px;
//  background: rgba(182,208,208,0.6);
//  box-shadow: inset 0 0 6px rgba(0,0,0,1);
//}
////::-webkit-scrollbar-thumb:window-inactive {
////  background: rgba(255,0,0,0.4);
////}
///*滚动条样式*/

#app {
  height: 100%;
}

nav {
  height: 60px;
  width: 100%;
  background: linear-gradient(to bottom, #2c3742 0%, #28303a 100%);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  z-index: 100;
  position: fixed;
  .brand {
    float: left;
    padding-left: 17px;

    display: inline-block;
  }
  a {
    font-size: $navFontSize;
    color: #cccccc;
    line-height: 60px;
    // font: 12px/1.62 "Microsoft Yahei";
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    i {
      margin-right: 3px;
    }
  }

}

/*主导航开始*/
.navMenu {
  list-style: none;
  padding-left: 35px;
  display: inline-block;
  zoom: 1;
  &:after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
  }
  li {
    float: left;
    a {
      padding: 0 30px;
      display: block;
      transition: .2s all;
    }
    .active {
      color: #ffffff;
      background-color: rgb(30, 38, 48);
    }
    .active:hover {
      color: #ffffff;
      background-color: rgb(30, 38, 48);
    }
    a:hover {
      color: #ffffff;
      background-color: rgb(40, 48, 58);
    }
  }
}

/*右上角登录*/
.loginWrapper {
  display: inline;
  float: right;
}

.loginBtn {
  display: inline-block;
  float: right;
  li {
    float: left;
    a {
      display: inline-block;
      padding: 0 20px;
      transition: .2s all;
    }
    a:hover {
      color: #fff;
      background-color: #1e2630;
    }
  }
}
/*主导航结束*/





/*container开始*/

/*侧边栏开始*/
#sidebar_nav {
  height: calc(100% - 60px);
  // height:200px;
  width: $sidebarWidth;
  top: 60px;
  background-color: #333333;
  position: fixed;
  min-height: 70%;
  font-size: $sidebarNavFontSize;
  overflow-x: hidden;

  ///*滚动条样式*/
  //&::-webkit-scrollbar {
  //  width: 10px;
  //}
  ///* 滚动槽 */
  //&::-webkit-scrollbar-track {
  //  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  //  border-radius: 10px;}
  ///* 滚动条滑块 */
  //&::-webkit-scrollbar-thumb {
  //  border-radius: 10px;
  //  background: rgba(182,208,208,0.6);
  //  box-shadow: inset 0 0 6px rgba(182,208,233,1);
  //}
  ////::-webkit-scrollbar-thumb:window-inactive {
  ////  background: rgba(255,0,0,0.4);
  ////}
  ///*滚动条样式*/
  
  #app {
    height: 100%;
  }

   //overflow-y:hidden;
  li {
    // padding:10px;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
    position:relative;
    // height: 60px;
    /*方向图标*/
    .fa-angle-double-right {
      position: absolute;
      // float: right;
      right: -20px;
      text-align: center;
      line-height: $sidebarHeight;
      transition: .1s all;
    }
    a {
      padding-left: 20px;
      line-height: $sidebarHeight;
      color: #adadad;
      display: block;
      transition: .3s all;
      i {
        margin-right: 5px;
        top:0;
      }
    }

    a:hover {
      background-color: #1b1717;
      color: #fff;
    }
    //当前活动菜单项

    .active {
      background-color: #080808;
      color:#fff;
      &:hover{
        background-color: #080808;
        
      }
      .fa-angle-double-right {
        font-size: 16px;
        right: 60px;
      }
      & > a {
        color: #fff;

      }
    }
  }
  /*商家搜索框样式*/
  input{
    height:$sidebarHeight - 30px;
    width:180px;
    font-size: $sidebarNavFontSize;
    //font-style: italic;
    margin-left: 1em;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #eee;
    text-indent: 6px;
    border-radius: 30px;
  }

  input:focus{
    outline: none;
  }
  ul>li input+i{
    color: #313131;
    position: absolute;
    line-height: $sidebarHeight + 6px;
    font-size: 17px;
    left:170px;
  }


  .sidebar_subNav {
    // display: none;
  }

  /*侧边栏二级菜单*/
  .sidebar_subNav > li {
    height: 40px;
    background-color: #333333;
    a {
      line-height: 40px;
      text-indent: 15px;
    }
    &.active {
      color: #fff;
      background-color: #080808;
    }
  }

}

/*侧边栏结束*/

#container {
  position: absolute;
  width:100%;
  top: 60px;
  //left:$sidebarWidth;
  height: calc(100% - 60px);
  // height:600px;
  //图表warpper
  .chartWrapper {
    // height: 100%;
    // width: 100%;
    width: calc(100% - #{$sidebarWidth});
    position: relative;
    left: 230px;
    //top:25px;
    // border:7px solid red;
    //padding: 30px;


    /*
    包装chartCanvas的panel，看情况可放到common中
    */
    .panel {
      background-color: #fff;
      height: 100%;
      //width: 100%;
      margin:20px 25px;
      // border: 1px solid #eee;
      // border-radius: 1px;
      box-shadow: 0 0 3px rgba(0, 0, 0, .2);
      transition: all 0.5s;
      &:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, .3);
      }
      zoom: 1;
      &:after {
        content: '';
        display: block;
        height: 0;
        visibility: hidden;
        clear: both;

      }
      .panelHead {
        height: 55px;
        font-size: 19px;
        text-align: left;
        text-indent: 1em;
        line-height: 55px;
        font-weight: 500;
        //background-color:#5eaacc;
        border-bottom: 1px solid #e9e9e9;

      }
      .panelBody {
        min-height: 300px;
        position:relative;
      }
      .chartLine{
        min-height: 400px;
      }
      .chartPie{
        height:300px;
      }
    }

  }
}


/*顶部文字开始*/
/* .chartMessage {
  //margin-top: 95px;
  //text-indent: 6em;
  margin: 15px 25px;
  // float: left;
  //position: absolute;
  //right:80px;
  //top:95px;
  font-size: 13px;
  line-height: 32px;
  display: flex;
  p{
    flex:1;
  }
} */

.topMessage{
  position:relative;
  margin:20px 25px 0;
  // background-color:#fff;
  display:flex;
  .message{
    border-radius:4px;
    box-shadow:1px 1px 3px rgba(0,0,0,0.1);
    background-color:#fff;
    margin-left:50px;
    flex:1;
    height:80px;
    float:left;
    // line-height:110px;
  }
  .message div{
    position:absolute;
    height:100%;
    p{
      margin:15px;
    }
    p:nth-child(2){
      font-size:80%;
    }
    .up{
     color:red;
    }
   .down{
      color:green;
    }
  }
  // .message div{
  //   p:nth-child(2){
  //     font-size:80%;
  //   }
  // }

  .message div:before{
    content: "";
    height:100%;
    width:7px;
    border-radius:10px 0 0 10px;
    position:absolute;
    left:-7px;
    // top:0;
    background-color:rgba(182,208,233,1);
  }
  .message:first-child{
    margin-left:10px;
  }
  zoom: 1;
  &:after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
  }
}

/*顶部文字结束*/

/*商家模块开始*/
/*左右调整商家的按钮*/
.allSellersLineChartBtn{
  position: absolute;
  right:20px;
  z-index: 2;
  button{
    width:45px;
    height:25px;
    border-radius:3px;
    border-color:transparent;
    background-color:#eee;
    color:#ff3a3a;
    margin-right:1px;
    outline:none;
  }
  button:hover{
    background-color:#dedede;
  }
  button:active{
    background-color:#d0d0d0;
    box-shadow: 0 0 6px rgba(182,208,233,1);

    color:red;
  }
}

.allSellersLineChart{
  height: 400px;
}

  /*日期选择*/
.sellersTime1{
  position:absolute;
  top:10px;
  right:200px;
}
.sellersTime2{
  position:absolute;
  top:10px;
  right:350px;
}







.allSellersTable{
  margin:30px auto;
  border:0;
  border-collapse:collapse;
  width: 100%;
  text-align: center;
  thead>tr>th,tbody tr th,tbody tr td{
    border-bottom:1px solid #d8d8d8;
    text-align: center;
    font-size: 15px;
    height: 47px;
  }
  thead>tr{
    background-color:#636363;
    color:#fff;
  }
  .up{
    color:red;
  }
  .down{
    color:green;
  }
  tbody tr:nth-child(even){
    background:#efefef;
  }


}
/*单个商家页面开始*/

.singleSellerRoute{
  // margin:20px 25px;
  line-height: 35px;
  height: 37px;
  z-index: 10;
  // border-radius:5px;
  background-color: #fff;
  // box-shadow:0 0 3px rgba(0,0,0,.2);
  transition: color .3s;
  &:hover{
    // box-shadow:0 0 10px rgba(0,0,0,.3);
  }
  // display: flex;

  ul{
    zoom:1;
    // flex:1;
    // text-align: center;
    // margin-bottom: 1px;
    li{
      float: left;
      border-radius:5px;
      // text-align: center;
      // padding:0 10px;
      a{
        transition:hover .3s;
        padding:0 10px;
        display: inline-block;
        color:#564848;
        // border-radius:5px;
        &:hover{
          color: #c23531;
        }
      }
      // &:hover{
      //   color: #000;
      // }
      &:active{
        // background-color: #b3cde6;
      }
      .active{
        color:#c23531;
        border-bottom:2px solid #c23531;
        // background-color: #b3cde6;
      }
    }
    &:after{
      content: '';
      display: block;
      height: 0;
      visibility: hidden;
      clear: both;
    }
  }
  //标题居中样式
  p{
    textAlign:center;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    top:0;
  }
}

/*
* 时间参数条,看情况可放到一个common的文件中
*/
.adjustingBar {
   position: absolute;
   right:10px;
   top:5px;
   text-align: center;
   line-height: 30px;
  span{
    float:left;
    // margin-right: 10px;
    // padding-left: 25%;
  }
  li{
    float:left;
    padding: 0 10px;
    margin-left: 5px;
    cursor: pointer;
    transition: color .3s;
    // background-color:#fff;
    // height: 23px;
    // border-radius:20%;
    &:hover{
      // background-color: #d82020;
      color:#c23531;
    }
    &.active{
      // background-color:#b3cde6;
      color:#c23531;
      border-bottom:2px solid #c23531;
    }
  }
}
/*单个商家 设置高度*/
.singleSellerLineChart,.singleSellerCustomerNumChart,.singleSellerCustomerFlowChart,.singleSellerRadarChart,.singleSellerStayBarChart
,.singleSellerOldOrNewChart,.singleSellerTimeSectionChart,.singleSellerDeepVisitChart,.singleSellerCycleAndActiveChart{
  height: 400px;
}

/*单个商家wrapper*/
.panelWrapper{
  p{
    position: absolute;
    text-align: center;
    left:50%;
    transform: translateX(-50%);
    transform: translateY(-47px);
  }
  .halfPanel_1{
    margin:0 10px 0 25px!important;
  }
  .halfPanel_2{
    margin:0 25px 0 10px!important;

  }
  .halfPanel_1,.halfPanel_2{
    width:calc(50% - 35px);
    display:inline-block;
    vertical-align: top;
  }
  .halfPanel_3,.halfPanel_4{
    width:calc(50% - 35px);
    display:inline-block;
    vertical-align: top;
  }
  .halfPanel_3{
    margin:20px 10px 0 25px!important;
  }
  .halfPanel_4{
    margin:20px 25px 0 10px!important;

  }
  // .halfPanel_1{
  //   // overflow:hidden;
  //   // margin:0 24px 20px!important;
  //   width:calc(50% - 135px);
  //   // position:relative;
  //   // float:left;
  //   display:inline-block;
  //   // vertical-align: baseline;
  // }
  //   .halfPanel_2{
  //   // margin:0 20px 20px 0!important;
  //   width:calc(50% - 135px);
  //   // position:relative;
  //   // float:left;
  //   display:inline-block;
  //   // vertical-align: baseline;
  // }

}



/*单个商家wrapper*/
/*单个商家页面结束*/







/*商家模块结束*/




















/*container结束*/



